<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.photoalbum.mapper.LabelMapper">

    <resultMap id="BaseResultMap" type="com.example.photoalbum.common.po.Label">
            <id property="labelName" column="labelName" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        labelName,isDelete
    </sql>
</mapper>
